.button
  border 1px solid $color-white
  color $color-white
  background-color transparent
  outline none
  border none
  border-radius 5px
  padding 15px 25px
  font-weight 700
  font-size 1rem
  cursor pointer
  transition background-color 0.3s 0s
  text-decoration none

  &:hover
    background-color $color-white
    color $color-black

/* &:hover
    background-color: darken(@background-color, 30)

  &:active
    background-color: lighten(@background-color, 30) */