.button
  outline none
  border none
  border-radius 5px
  padding 15px 25px
  color var(--color-regular)
  background-color var(--color-background-secondary)
  font-weight 700
  font-size 1rem
  cursor pointer
  transition background-color 0.3s 0s

/* &:hover
    background-color: darken(@background-color, 30)

  &:active
    background-color: lighten(@background-color, 30) */