$color-bg-primary = #0d1117/* #090c10 */
$color-bg-secondary = #161b22
$color-bg-accent = #241C3C
$color-regular = #c9d1d9
$color-accent-one = #ffffff
$color-accent-two = #808ac5
$color-caption = #8b949e