/* $color-bg-primary = #0d1117
$color-bg-secondary = #161b22
$color-bg-accent = #241C3C
$color-regular = #c9d1d9
$color-accent-one = #ffffff
$color-accent-two = #808ac5
$color-caption = #8b949e */
$color-black = #000000
$color-white = #ffffff
$color-very-dark = #0d1117
$color-mostly-black = #161b22
$color-light-gray = #c9d1d9 /* #090c10 */
// meta sizes
$xs-min = 320px
$xs-mid = 375px
$xs = 480px
$xs-large = 520px
$sm = 768px
$tablet-horizontal = 1024px
$md = 1280px
$lg = 1366px
$xlg = 1600px